.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  background: #f4f7fb;
  min-height: 90vh;
}

.hero-left {
  max-width: 550px;
}

.badge {
  background: #e6f0ff;
  color: #2a64b5;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
}

.hero-left h1 {
  font-size: 52px;
  margin: 25px 0;
  color: #2c3e50;
  line-height: 1.2;
}

.highlight {
  color: #2a64b5;
}

.hero-left p {
  color: #555;
  margin-bottom: 30px;
  font-size: 16px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  background: #2a64b5;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #1e4c8f;
  transform: translateY(-2px);
}

.video-btn {
  background: #2a64b5;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}
.video-btn:hover{
  background: #1e4c8f;
  transform: translateY(-2px);
}
.hero-right img {
  width: 520px;
}
@media (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-right img {
    width: 350px;
    margin-top: 30px;
  }
}

