.cta-section {
  background: #114b77;
  padding: 100px 20px;
  text-align: center;
  color: white;
}

.cta-content h2 {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 500;
}

.cta-btn {
  padding: 14px 35px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-btn:hover {
  background: white;
  color: #114b77;
  transform: translateY(-3px);
}
