.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background: #ffffff;
  gap: 50px;
}

.about-left {
  flex: 1;
}

.section-tag {
  color: #2a64b5;
  font-weight: 600;
  margin-bottom: 15px;
}

.about-left h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.about-left p {
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

.about-features {
  display: flex;
  gap: 40px;
}

.about-features ul {
  list-style: none;
  padding: 0;
}

.about-features li {
  margin-bottom: 12px;
  color: #2c3e50;
}

/* RIGHT SIDE IMAGES */

.about-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 450px;
}

.main-img {
  width: 100%;
  border-radius: 15px;
}

.overlay-img {
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 70%;
  border-radius: 15px;
  border: 8px solid white;
}

.experience-box {
  position: absolute;
  bottom: 20px;
  right: -20px;
  background: #2a64b5;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.experience-box h3 {
  font-size: 32px;
  margin: 0;
}
@media (max-width: 992px) {
  .about-section {
    flex-direction: column;
    padding: 60px 20px;
  }

  .image-container {
    width: 100%;
  }
}

