.pricing-section {
  padding: 100px;
  background: #f4f7fb;
  text-align: center;
}

.section-header h2 {
  font-size: 36px;
  color: #2c3e50;
}

.underline {
  width: 60px;
  height: 4px;
  background: #114b77;
  margin: 15px auto;
  border-radius: 5px;
}

.section-header p {
  color: #555;
  margin-bottom: 60px;
}

.pricing-grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 30px;
}

/* CARD */
.price-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.05);
  text-align: left;
  position: relative;
  transition: 0.3s;
}

.price-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.price-card h3 {
  margin-bottom: 25px;
  color: #2c3e50;
}

.price-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.price-card li {
  margin-bottom: 12px;
  font-size: 14px;
  color: #555;
}

/* FEATURED CARD */
.featured {
  background: #114b77;
  color: white;
}

.featured h3,
.featured li {
  color: white;
}

.popular-badge {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #114b77;
  padding: 6px 18px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

/* BUTTON */
.buy-btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #114b77;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.white-btn {
  background: white;
  color: #114b77;
}
