.login-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-card {
  width: 380px;
  padding: 40px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin-right: 120px;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 30px;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-input:focus {
  outline: none;
  border-color: #2a64b5;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #2a64b5;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #1e4c8f;
}
