.contact-section {
  padding: 100px;
  background: #f4f7fb;
  text-align: center;
}

.section-header h2 {
  font-size: 36px;
  color: #2c3e50;
}

.underline {
  width: 60px;
  height: 4px;
  background: #114b77;
  margin: 15px auto;
  border-radius: 5px;
}

.section-header p {
  color: #555;
  margin-bottom: 50px;
}

/* MAIN CONTAINER */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
}

/* LEFT SIDE */
.contact-info {
  background: #114b77;
  color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: left;
}

.contact-info h3 {
  margin-bottom: 30px;
}

.info-item {
  margin-bottom: 25px;
}

.info-item h4 {
  margin-bottom: 8px;
}

/* RIGHT SIDE */
.contact-form {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 5px 30px rgba(0,0,0,0.05);
}

.contact-form h3 {
  margin-bottom: 10px;
}

.contact-form p {
  margin-bottom: 25px;
  color: #555;
}

.form-row {
  display: flex;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.send-btn {
  background: #114b77;
  color: white;
  border: none;
  padding: 14px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.send-btn:hover {
  background: #0d3d61;
  transform: translateY(-2px);
}
@media (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .form-row {
    flex-direction: column;
  }
}

